@import url("../styles/header.css");
@import url("../styles/banner.css");
@import url("../styles/carrossel.css");
@import url("../styles/topicos.css");
@import url("../styles/rodape.css");

* {
    box-sizing: border-box;
  }
  
@font-face {
    font-family: "Poppins";
    src: url('../fonts/poppins-light.woff') format(woff),
         url('../fonts/poppins-light.woff2') format(woff2),
         url(https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap);
    font-weight: 300;
}

@font-face {
    font-family: "Poppins";
    src: url('../fonts/poppins-regular.woff') format(woff),
         url('../fonts/poppins-regular.woff2') format(woff2),
         url(https://fonts.googleapis.com/css2?family=Poppins&display=swap);
    font-weight: 400;
}
    
@font-face {
    font-family: "Poppins";
    src: url('../fonts/poppins-medium.woff') format(woff),
         url('../fonts/poppins-medium.woff2') format(woff2),
         url(https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap);
    font-weight: 500;
}    

@font-face {
    font-family: "Poppins";
    src: url('../fonts/poppins-bold.woff') format(woff),
         url('../fonts/poppins-bold.woff2') format(woff2),
         url(https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap);
    font-weight: 700;
}

:root {
    --cor-de-fundo: #ebecee;
    --branco: #ffffff;
    --laranja: #EB9800;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --azul: #002F52;
    --preto: #000000; 
    --cinza-claro: #F9F9F9;
    --cinza-escuro: #3f3f3f;
    --fonte-principal: "Poppins";
}

.site {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}