@import url("../styles/header.css");
@import url("../styles/banner.css");
@import url("../styles/carrossel.css");


@font-face {
    font-family: "Poppins";
    src: local('../fonts/poppins-light.woff') format(woff);
    src: local('../fonts/poppins-light.woff2') format(woff2);
    font-weight: 300;
}

@font-face {
    font-family: "Poppins";
    src: local('../fonts/poppins-regular.woff') format(woff);
    src: local('../fonts/poppins-regular.woff2') format(woff2);
    font-weight: 400;
}
    
@font-face {
    font-family: "Poppins";
    src: local('../fonts/poppins-medium.woff') format(woff);
    src: local('../fonts/poppins-regular.woff2') format(woff2);
    font-weight: 500;
}    

@font-face {
    font-family: "Poppins";
    src: local('../fonts/poppins-bold.woff') format(woff);
    src: local('../fonts/poppins-regular.woff2') format(woff2);
    font-weight: 700;
}

:root {
    --cor-de-fundo: #ebecee;
    --branco: #ffffff;
    --laranja: #EB9800;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --fonte-principal: "Poppins";
}

.site {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}